@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #120C10;
}

a:visited, a{
	text-decoration: none;
}
.active{
	text-decoration: underline;
}
/*header area*/
.top-header{
	background: transparent;
	position: fixed;
	width: 100%;
	z-index: 333;
}
.header-row{
	margin: 0;
	padding: 0;
}
.top-header img.logo{
	float: left;
	margin-top: 8px;
	margin-bottom: 30px;
	transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-ms-transition:all 0.7s ease 0s;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  margin-top: 23px;
  transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-ms-transition:all 0.7s ease 0s;
}
.navbar-toggle span{
	color: #fff;
}
ul.nav{
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
 	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	padding: 12px 20px;
	border-radius: 5px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: red;
	background-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  margin-top: 4px;
}
/*banner area*/
.banner{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.banner h3{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	color: #fff;
	margin-top: 205px;
	font-weight: 800;
}
.banner h1{
	font-family: 'Dancing Script', cursive;
	font-size: 68px;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 10px;
}
.banner p{
	font-family: 'Dancing Script', cursive;
	font-size: 18px;
	color: #fff;
}
.banner img{
	margin: 50px;
}
.banner button{
	width: 190px;
	height: 50px;
	font-size: 14px;
	color: #D79F40;
	background: #A92E0C;
	border-radius: 2px;
	border: 0px;
	font-weight: 800;
	margin-bottom: 205px;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;

}
.banner button:hover{
	background: #F5F2FB;
	color: #D79F40;
}
.dropdowncontent{
	display: none;
	position: absolute;
	background-color: #FFFFFF ;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdowncontent a{
	color: #B0B0B0 ;
	padding: 5px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 15px;
}
.dropdowncontent a:hover{
	color: #080808 ;
	background-color: #FFFFFF ;
}
.dropdown:hover + .dropdowncontent{
	display: block;
}


#video-background {
  
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -9999;
}

#video-background.collapsing {
  display:none;
}


/*about section*/
.about{
	background: #E6D5A1;
}
.about h2{
	font-size: 46px;
	color: #4A3820;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 90px;
	margin-bottom: 30px;
}
.about-heading img{
	margin-bottom: 30px;
}
.about-heading h1{
	font-size: 46px;
	font-weight: 800;
	color: #4A3820;
	margin-top: 90px;
	margin-bottom: 30px;

}
.about-heading p{
	font-size: 16px;
	color: #7e8287;
	margin-bottom: 60px;

}
.about-heading p span{
	font-size: 23px;
}
.single-about{
	margin-bottom: 90px;
}
.single-about + .single-about{
	border-left: 1px solid #d9dbdb;
}
.about-inside{
	padding: 50px;
	height: 230px;
}
.single-about:hover{
	background: red;
	color: #fff;
}
.about-inside h3{
	font-size: 16px;
	color: #7e8287;
	font-weight: 800;
}
.about-inside p{
	font-size: 11px;
	color: #7e8287;
}
.about-inside i.fa{
	color: #02918c;
	font-size: 30px;
}
.single-about:hover .about-inside i.fa{
	color: #fff;
}
.single-about:hover .about-inside p{
	color: #fff;
}
.single-about:hover .about-inside h3{
	color: #fff;
}

/*slection area*/
.selection{


}
.selection-row{
	margin: 0;
	padding: 0;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
.myCarousel{
	position: absolute;
	margin-top: 100px;
}
.selection-heading p{
font-size: 16px;
	color: #7D5C2F;
	margin-bottom: 60px;

}
.selection-heading h2{
	font-size: 46px;
	color: #E6D5A1;
	margin-top: 100px;
	font-weight: 800;
	margin-bottom: 35px;
}

/*portfolio area*/

.portfolio h2{
	font-size: 46px;
	color: #E6D5A1;
	margin-top: 100px;
	font-weight: 800;
	margin-bottom: 35px;
}
.portfolio-row{
	margin: 0;
	padding: 0;
}
.portfolio-heading img{
	margin-bottom: 30px;
	text-align: center;
}
.portfolio-heading p{
	font-size: 16px;
	color: #E67026;
	margin-bottom: 80px;
}
.single-portfolio{
	margin: 0;
	padding: 3px;
	position: relative;
}
.single-portfolio i.fa {
  position: absolute;
  z-index: 222;
  right: 0px;
  bottom: 0px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.39);
  padding: 10px;
  color: #fff;
  display: none;
}
.single-portfolio:hover.single-portfolio i.fa{
	display: block;
}
.portfolio-item{
	position: relative;
	z-index: 10;
}
.portfolio-details{
	position: absolute;
	z-index: 99;
	top: 0px;
  	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba( 74,56,32, 0.7);
	display: none;
}
.single-portfolio:hover .portfolio-details{
	display: block;
}
.portfolio-item img{
	margin: 0;
	/*padding: 0;*/
	width: 100%;
	height: 100%;
}
.portfolio-details h4{
	font-size: 16px;
	color: #fff;
	font-weight: 800;
	margin-top: 55px;
}
.portfolio-details p{
	font-size: 13px;
	color: #fff;
	padding: 5px 20px;
}

hr{ 
    display: block;
    
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 25px;
    border-color:#7D5C2F;
} 
.blank1{
height: 900px;

}

.blank2{
height: 0px;

}

.blank3{
height: 700px;

}
.blank4{
height: 100px;

}

/* end of portfolio */

.contact-form{
background-color: #1E1711;
font-family: 'Open Sans', sans-serif;

}
.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #F5F2FB;
    box-shadow: none;
}

textarea {
    resize: none;
}

/*footer area*/

.footer{
	background: #000;
}
.footer p{
	color: #7e8287;
	font-size: 12px;
	padding:25px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}



/******************************
responsive area
********************************/
/* lg */ 
@media (min-width: 1200px) {
	.top-header img{
		width:20%;
		margin-top: 5px;
	}
	
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	.blank1{
	height: 700px;
	}
	hr{ 
    border-width: 20px;
	}
	.blank3{
	height: 570px;
	}
	
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.single-service{
		margin-bottom: 30px;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 12px 10px;
	}
	input.message {
	  width: 718px;
	}
	.blank1{
	height: 1250px;
	}

	.blank2{
	height: 0px;
	}
	.blank3{
	height: 1130px;
	}
	hr{ 
    border-width: 15px;
	} 
	.top-header img{
		width:20%;
		
	}
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	input.name {
	  margin-top: 55px;
	  width: 420px;
	}
	input.email{
		width: 420px;
	}
	input.message{
		width: 420px;
	}
	.banner h1 {
	  font-size: 60px;
	  letter-spacing: 3px;
	}
	.about-inside{
		padding: 10px;
	}
	.blank1{
	height: 90px;
	}

	.blank2{
	height: 10px;
	}
	.blank3{
	height: 70px;
	}
	hr{ 
    border-width: 15px;
	} 
	.top-header img{
		width:50%;
	}
}

/* XXS */
@media (max-width: 479px) {
	.logo{
		margin-top: 10px;
	}
	input.name{
		margin-top: 55px;
		width: 275px;
	}
	input.email{
		width: 275px;
	}
	input.message{
		width: 275px;
	}
	.contact-form input.submit-btn{
		width: 200px;
		height: 50px;
		border:0;
	}
	.banner h1 {
		  font-size: 38px;
		  letter-spacing: 0px;
	}
	.navbar-header{
		margin-top: 5px !important;
	}
	.about-inside{
		padding: 0px;
	}
	.top-header img{
		width:70%;
	}
}


















